In [8]:
handle_excel.close()

In [9]:
import pandas as pd
handle_excel = pd.ExcelFile('data.xlsx')
detail = handle_excel.parse('Detail')
detail

,TERRITORY,HOT Name,Area_Name,Sales_Unit_Code,Sales_Unit,Parent_Supervisor_Code,Parent_Supervisor_Name,Supervisor_Code,Supervisor_Name,Agent_Number,...,Agent_Status,Date_Appointed,Terminated_date,Agent_Bank_Account,Bank_Code,Bank Name,Tax Code,License_No,NOTE,Loại Đại Lý
0,Miền Bắc 3,Trưởng miền Miền Bắc 3,ADG,A1314,Trưởng miền Miền Bắc 3,NaN,NaN,,NaN,60055782,...,Enforce,2022-01-19,NaN,51110000722955,BID-XXXXXX,NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN VIỆT NAM_...,,NAN2201A-29423,Thiếu mã số thuế,Chính Thức
1,Miền Bắc 3,Trưởng miền Miền Bắc 3,ADG,A1314,Trưởng miền Miền Bắc 3,NaN,NaN,,NaN,60056228,...,Enforce,2022-02-16,NaN,NaN,NaN,NaN,NaN,NAN2202A-30241,Thiếu cả 02,Chính Thức
2,Miền Bắc 3,Trưởng miền Miền Bắc 3,ADG,A1314,Trưởng miền Miền Bắc 3,NaN,NaN,,NaN,60067202,...,Enforce,2022-07-29,NaN,NaN,NaN,NaN,NaN,DBN2207A-002458,Thiếu cả 02,Chính Thức
3,Miền Bắc 3,Trưởng miền Miền Bắc 3,ADG,A1314,Trưởng miền Miền Bắc 3,,NaN,60055524,FC - NGUYỄN TIẾN TRIỀU,60055873,...,Enforce,2022-01-21,NaN,NaN,NaN,NaN,NaN,NAN2201C-29896,Thiếu cả 02,Chính Thức
4,Miền Bắc 3,Trưởng miền Miền Bắc 3,ADG,A1314,Trưởng miền Miền Bắc 3,,NaN,60063243,FC - NGUYỄN TẤT HÙNG,60066135,...,Enforce,2022-06-30,NaN,NaN,NaN,NaN,NaN,TVBH2206-001555,Thiếu cả 02,Chính Thức
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18429,Miền Bắc 2,Trưởng miền Miền Bắc 2,YTH,AD158,Nguyễn Thị Nguyệt,NaN,NaN,,NaN,60016284,...,Enforce,2018-08-31,NaN,51210000614572,BID-NADCHA,NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN VIỆT NAM_...,,NAN-1808C-4423,Thiếu mã số thuế,Chính Thức
18430,Miền Bắc 2,Trưởng miền Miền Bắc 2,YTH,AD158,Nguyễn Thị Nguyệt,,NaN,60015713,DM - LƯƠNG THỊ THỦY,60066841,...,Enforce,2022-07-18,NaN,3606205216391,AGR-XXXXXX,NGÂN HÀNG NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG ...,,TVBH2207-001833,Thiếu mã số thuế,Chính Thức
18431,Miền Bắc 2,Trưởng miền Miền Bắc 2,YTH,AD158,Nguyễn Thị Nguyệt,,NaN,60045474,FC - KIM MINH ĐỨC,60045478,...,Enforce,2021-07-21,NaN,3613205000244,AGR-NAQUYC,NGÂN HÀNG NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG ...,,YTH-2107B-23213,Thiếu mã số thuế,Chính Thức
18432,Miền Bắc 2,Trưởng miền Miền Bắc 2,YTH,AD158,Nguyễn Thị Nguyệt,60015713,DM - LƯƠNG THỊ THỦY,60020911,DM - NGUYỄN ĐỨC SƠN,60051699,...,Enforce,2021-10-28,NaN,NaN,NaN,NaN,NaN,QLU2110B-26292,Thiếu cả 02,Chính Thức
18433,Miền Bắc 2,Trưởng miền Miền Bắc 2,YTH,AD158,Nguyễn Thị Nguyệt,60022448,DM - NGUYỄN BÁ TÁM,60024649,FC - TÔ THỊ GIAO,60024823,...,Enforce,2020-02-28,NaN,51210000806740,BID-NAPDIE,NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN VIỆT NAM_...,,VIN-2002B-5703,Thiếu mã số thuế,Chính Thức

In [7]:
summary = handle_excel.parse('Summary')
summary

,MIỀN,Official,Unnamed: 2,Unnamed: 3,Total Official,% Total Official,Trainee AL,Unnamed: 7,Unnamed: 8,Total Trainee AL,% Total Trainee AL,Trainee Agent,Unnamed: 12,Unnamed: 13,Total Trainee Agent,% Total Trainee Agent,Grand Total,% Grand Total
0,NaN,Thiếu cả 02,Thiếu mã số thuế,Thiếu số tài khoản,NaN,NaN,Thiếu cả 02,Thiếu mã số thuế,Thiếu số tài khoản,NaN,NaN,Thiếu cả 02,Thiếu mã số thuế,Thiếu số tài khoản,NaN,NaN,NaN,NaN
1,Miền Bắc 1,180,923,8,1111.0,0.062067,NaN,3,NaN,3.0,0.022222,21,3,7,31.0,0.077694,1145.0,0.062113
2,Miền Bắc 2,432,1969,60,2461.0,0.137486,NaN,11,3,14.0,0.103704,1,NaN,NaN,1.0,0.002506,2476.0,0.134317
3,Miền Bắc 3,555,1374,28,1957.0,0.109330,2,20,1,23.0,0.170370,7,9,4,20.0,0.050125,2000.0,0.108495
4,Miền Bắc 5,8,35,3,46.0,0.002570,NaN,11,NaN,11.0,0.081481,20,4,14,38.0,0.095238,95.0,0.005154
5,Miền Nam 1,149,1164,12,1325.0,0.074022,NaN,9,NaN,9.0,0.066667,3,12,NaN,15.0,0.037594,1349.0,0.073180
6,Miền Nam 2,156,816,9,981.0,0.054804,1,5,NaN,6.0,0.044444,57,15,7,79.0,0.197995,1066.0,0.057828
7,Miền Nam 3,63,750,15,828.0,0.046257,NaN,11,NaN,11.0,0.081481,10,10,1,21.0,0.052632,860.0,0.046653
8,Miền Nam 5,212,1945,5,2162.0,0.120782,NaN,8,NaN,8.0,0.059259,25,12,1,38.0,0.095238,2208.0,0.119779
9,Miền Nam 6,131,915,9,1055.0,0.058939,NaN,16,NaN,16.0,0.118519,2,15,NaN,17.0,0.042607,1088.0,0.059021
10,Miền Trung 1,215,1336,46,1597.0,0.089218,NaN,6,NaN,6.0,0.044444,1,18,2,21.0,0.052632,1624.0,0.088098
11,Miền Trung 2,61,551,6,618.0,0.034525,2,6,NaN,8.0,0.059259,4,8,3,15.0,0.037594,641.0,0.034773
12,Miền Trung 3,314,1328,4,1646.0,0.091955,NaN,8,NaN,8.0,0.059259,4,61,2,67.0,0.167920,1721.0,0.093360
13,Miền Trung 5,363,1747,3,2113.0,0.118045,NaN,11,1,12.0,0.088889,21,13,2,36.0,0.090226,2161.0,0.117229
14,Total,2839,14853,208,17900.0,1.000000,5,125,5,135.0,1.000000,176,180,43,399.0,1.000000,18434.0,1.000000

In [10]:
list_mien = detail['TERRITORY'].unique()
list_mien

array(['Miền Bắc 3', 'Miền Trung 3', 'Miền Nam 6', 'Miền Trung 5',
       'Miền Nam 2', 'Miền Bắc 2', 'Miền Nam 1', 'Miền Trung 1',
       'Miền Nam 5', 'Miền Bắc 1', 'Miền Nam 3', 'Miền Bắc 5',
       'Miền Trung 2'], dtype=object)

In [11]:
for mien in list_mien:
    df = detail[detail['TERRITORY'] == mien]
    df.to_excel(f"{mien}.xlsx", index=False)