In [1]:
from docxtpl import DocxTemplate
import pandas as pd
doc = DocxTemplate("Word2.docx")

In [2]:
from vietnam_number import n2w
number= '121984314'
n2w(number)

'một trăm hai mươi mốt triệu chín trăm tám mươi bốn nghìn ba trăm mười bốn'

In [9]:
handle_excel = pd.ExcelFile("Excel2.xlsx")
data = handle_excel.parse('Sheet2')
data.head(1)

,Code,gender,Gender,AD_Name,Grade,Add,Contract_No,Contract_Date,Paid,Holding,Total
0,15/2023/ THKT-PHL-AD,chị,Chị,Nguyễn Thị Trúc Mai,Phó Giám đốc Kinh doanh Vùng,"446/21/11 Thới An 28, KP.2, Phường Thới An, Qu...",429/2023/LC,06/07/2023,333394621,337754694,671149315

In [8]:
handle_excel.close()

In [10]:
#Phải run cái này trước để tránh mất format của cột Amount ở kiểu number
data['Amount_Word'] = pd.Series([n2w(str(number)).capitalize() for number in data['Paid']])
data

,Code,gender,Gender,AD_Name,Grade,Add,Contract_No,Contract_Date,Paid,Holding,Total,Amount_Word
0,15/2023/ THKT-PHL-AD,chị,Chị,Nguyễn Thị Trúc Mai,Phó Giám đốc Kinh doanh Vùng,"446/21/11 Thới An 28, KP.2, Phường Thới An, Qu...",429/2023/LC,06/07/2023,333394621,337754694,671149315,Ba trăm ba mươi ba triệu ba trăm chín mươi bốn...

In [11]:
#ỏ đây đã thành string
data['Paid'] = pd.Series([f'{number:,}'.replace(",",".") for number in data['Paid']])
data['Holding'] = pd.Series([f'{number:,}'.replace(",",".") for number in data['Holding']])
data['Total'] = pd.Series([f'{number:,}'.replace(",",".") for number in data['Total']])

In [44]:
data.head(1)

,Code,gender,Gender,AD_Name,Grade,Add,Contract_No,Contract_Date,Paid,Holding,Total,Amount_Word
0,09/2023/ THKT-PHL-AD,chị,Chị,Chung Thanh Trúc,Giám Đốc Kinh Doanh Khu Vực Cấp Cao,"An Cư, Quận Ninh Kiều, TP. Cần Thơ",395/2023/LC,01/07/2023,195.128.812,197.920.872,393.049.684,Một trăm chín mươi lăm triệu một trăm hai mươi...

In [12]:
for index, row in data.iterrows():
    context = { 
        'Code': row['Code'],
        'Gender' : row['Gender'],
        'AD_Name' : row['AD_Name'],
        'Add': row['Add'],
        'Grade': row['Grade'],
        'Contract_No': row['Contract_No'],
        'Contract_Date': row['Contract_Date'],
        'Paid' : row['Paid'],
        'Holding': row['Holding'],
        'Total': row['Total'],
        'Amount_Word': row['Amount_Word'],
        'gender': row['gender']
    }
    doc.render(context)
    doc.save(f"result2/{row['Grade']}-{row['AD_Name']}.docx")