In [1]:
from docxtpl import DocxTemplate
import pandas as pd
doc = DocxTemplate("Word2.docx")

In [2]:
from vietnam_number import n2w
number= '121984314'
n2w(number)

'một trăm hai mươi mốt triệu chín trăm tám mươi bốn nghìn ba trăm mười bốn'

In [5]:
handle_excel = pd.ExcelFile("Excel2.xlsx")
data = handle_excel.parse('Sheet2')
data.head(1)

,No,Territories,Code,gender,Gender,AD_Name,Grade,Add,Contract_No,Contract_Date,Paid,Holding,Total
0,NaN,NaN,09/2023/ THKT-PHL-AD,chị,Chị,Chung Thanh Trúc,Giám Đốc Kinh Doanh Khu Vực Cấp Cao,"An Cư, Quận Ninh Kiều, TP. Cần Thơ",395/2023/LC,01/07/2023,1.951288e+08,197920872,3.930497e+08

In [4]:
#Phải run cái này trước để tránh mất format của cột Amount ở kiểu number
data['Amount_Word'] = pd.Series([n2w(str(number)).capitalize() for number in data['Amount']])

In [5]:
#ỏ đây đã thành string
data['Amount'] = pd.Series([f'{number:,}'.replace(",",".") for number in data['Amount']])

In [6]:
data.head(1)

,No,Code,gender,Gender,AD Code,AD_Name,Grade,AD Status,Date_Appointed,Terdate\nHandover Date,Last Working\nDate,Add,Contract_No,Contract_Date,Amount,Amount_Word
0,1,01/2023/ THKT-PHL-AD,anh,Anh,AD273,Bùi Văn Thách,RAD,Terminated,2020-07-13,2023-03-09,2023-04-24,"Tổ dân phố 2, P. Nghĩa Đức, TP. Gia Nghĩa, tỉn...",368/2022/LC,01-10-2022,25.677.244,Hai mươi lăm triệu sáu trăm bảy mươi bảy nghìn...

In [9]:
for index, row in data.iterrows():
    context = { 
        'Code': row['Code'],
        'Gender' : row['Gender'],
        'AD_Name' : row['AD_Name'],
        'Add': row['Add'],
        'Grade': row['Grade'],
        'Contract_No': row['Contract_No'],
        'Contract_Date': row['Contract_Date'],
        'Amount' : row['Amount'],
        'Amount_Word': row['Amount_Word'],
        'gender': row['gender']
    }
    doc.render(context)
    doc.save(f"result/{row['Grade']}-{row['AD_Name']}.docx")