In [70]:
from docxtpl import DocxTemplate
import pandas as pd
doc = DocxTemplate("Word.docx")

In [15]:
handle_excel = pd.ExcelFile("Excel.xlsx")
data = handle_excel.parse('Sheet1')
data.head(1)

,No,Code,Gender,AD Code,AD_Name,Grade,AD Status,Date_Appointed,Terdate\nHandover Date,Last Working\nDate,Add,Contract_No,Contract_Date,Amount
0,1,01/2023/ THKT-PHL-AD,Anh,AD273,Bùi Văn Thách,RAD,Terminated,2020-07-13,2023-03-09,2023-04-24,"Tổ dân phố 2, P. Nghĩa Đức, TP. Gia Nghĩa, tỉn...",368/2022/LC,01-10-2022,25677244

In [37]:
lst = [n2w(str(number)) for number in data['Amount']]
lst

['hai mươi lăm triệu sáu trăm bảy mươi bảy nghìn hai trăm bốn mươi bốn',
 'tám mươi bảy triệu hai trăm bảy mươi bốn nghìn ba trăm chín mươi sáu',
 'hai mươi lăm triệu ba trăm tám mươi tám nghìn bốn trăm sáu mươi bảy',
 'bốn mươi tám triệu ba trăm năm mươi lăm nghìn bốn trăm bốn mươi',
 'một trăm hai mươi mốt triệu chín trăm tám mươi bốn nghìn ba trăm mười bốn',
 'một trăm hai mươi bảy triệu không trăm tám mươi lăm nghìn năm trăm mười',
 'hai trăm chín mươi hai triệu ba trăm bảy mươi chín nghìn chín trăm lẽ một',
 'ba mươi bảy triệu ba trăm sáu mươi lăm nghìn năm trăm năm mươi bảy']

In [45]:
#Phải run cái này trước để tránh mất format của cột Amount ở kiểu number
data['Amount_Word'] = pd.Series([n2w(str(number)) for number in data['Amount']])

In [60]:
#ỏ đây đã thành string
data['Amount'] = pd.Series([f'{number:,}'.replace(",",".") for number in data['Amount']])

In [65]:
data.head(1)

,No,Code,Gender,AD Code,AD_Name,Grade,AD Status,Date_Appointed,Terdate\nHandover Date,Last Working\nDate,Add,Contract_No,Contract_Date,Amount,Amount_Word
0,1,01/2023/ THKT-PHL-AD,Anh,AD273,Bùi Văn Thách,RAD,Terminated,2020-07-13,2023-03-09,2023-04-24,"Tổ dân phố 2, P. Nghĩa Đức, TP. Gia Nghĩa, tỉn...",368/2022/LC,01-10-2022,25.677.244,hai mươi lăm triệu sáu trăm bảy mươi bảy nghìn...

In [72]:
for index, row in data.iterrows():
    context = { 
        'Code': row['Code'],
        'Gender' : row['Gender'],
        'AD_Name' : row['AD_Name'],
        'Add': row['Add'],
        'Grade': row['Grade'],
        'Contract_No': row['Contract_No'],
        'Contract_Date': row['Contract_Date'],
        'Amount' : row['Amount'],
        'Amount_Word': row['Amount_Word']
    }
    doc.render(context)
    doc.save(f"result/{row['Grade']}-{row['AD_Name']}.docx")

In [19]:
pip install vietnam_number

Defaulting to user installation because normal site-packages is not writeable
Collecting vietnam_number
  Downloading vietnam_number-1.0.3-py3-none-any.whl (21 kB)
Installing collected packages: vietnam_number
Successfully installed vietnam_number-1.0.3
Note: you may need to restart the kernel to use updated packages.

In [36]:
from vietnam_number import n2w
number= '121984314'
n2w(number)

'một trăm hai mươi mốt triệu chín trăm tám mươi bốn nghìn ba trăm mười bốn'

In [50]:
import locale
locale.setlocale(locale.LC_ALL, '')

'English_United States.1252'