In [7]:
import pandas as pd
xls_data = pd.ExcelFile('AD_Bonus_08.2022-08.2023_Final.xlsx')
xls_structure = pd.ExcelFile('AD Structure.xlsx')

In [16]:
data = xls_data.parse('Data')
data

,Territories,AD Code,AD Name,AD Grade,AD Status,Terdate,Date_Appointed,202208,202209,202210,...,202301,202302,202303,202304,202305,202306,202307,202308,Grand Total,Note Holding
0,South 3,A1000,Lê Minh Nhựt,ZD,Enforce,NaT,2023-01-12,NaN,NaN,NaN,...,NaN,NaN,346190.0,NaN,NaN,1536400.00,NaN,3000000.0,4.882590e+06,NaN
1,Central 1,A1001,Đặng Thị Thùy Trinh,SZD,Enforce,NaT,2023-01-18,NaN,NaN,NaN,...,NaN,NaN,NaN,49453547.9,51115816.2,17695943.52,NaN,NaN,1.182653e+08,NaN
2,South 1,A1007,Nguyễn Thị Cẩm Loan,ZD,Terminated,2023-08-29,2023-02-03,NaN,NaN,NaN,...,NaN,NaN,NaN,473500.0,NaN,NaN,NaN,NaN,4.735000e+05,NaN
3,North 1,A1012,Nguyễn Thị Bích Vân,SZD,Terminated,2023-06-26,2023-02-06,NaN,NaN,NaN,...,NaN,NaN,NaN,565925.0,NaN,NaN,NaN,NaN,5.659250e+05,NaN
4,North 1,A1014,Vũ Khắc Điệp,ZD,Terminated,2023-06-20,2023-02-06,NaN,NaN,NaN,...,NaN,NaN,NaN,332790.0,NaN,NaN,NaN,NaN,3.327900e+05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,116,3043803415.914,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,AD Bonus Holding by DC,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,No AD,Sum of Grand Total,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,8,2474517268,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
structure = xls_structure.parse('AD Structure')
structure

,Territories,Code TD,Name TD,Code TAD,Name TAD,Code SRD,Name SRD,Code RD,Name RD,Code RAD,...,Sales Office,AD Code,AD Name,Grade,NOTE,Date Appointed,Date Terminated,Status,Gender,Email
0,Miền Nam 3,AD367,Hồng Khánh Hưng,NaN,NaN,NaN,NaN,AD421,Nguyễn Quý Nhân,NaN,...,Hồ Chí Minh,A1000,Lê Minh Nhựt,ZD,NaN,2023-01-12,NaT,Enforce,Male,nhut.le@phuhunglife.com
1,Miền Trung 1,NaN,NaN,NaN,NaN,AD163,Lê Thị Hân,NaN,NaN,AD214,...,Buôn Ma Thuột,A1001,Đặng Thị Thùy Trinh,SZD,NaN,2023-01-18,NaT,Enforce,Female,thuytrinh.dang@phuhunglife.com
2,Miền Trung 2,NaN,NaN,NaN,NaN,AD911,Lê Thị Thùy Linh,NaN,NaN,AD957,...,NaN,A1002,Cao Văn Tâm,ZD,NaN,2023-01-18,2023-08-21,Terminated,Male,tam.cao@phuhunglife.com
3,Miền Trung 2,NaN,NaN,NaN,NaN,AD911,Lê Thị Thùy Linh,AD943,Phạm Hòa,NaN,...,NaN,A1003,Đặng Thị Thúy Nga,ZD,NaN,2023-01-18,2023-02-16,Terminated,Female,nga.dang@phuhunglife.com
4,Miền Trung 2,NaN,NaN,NaN,NaN,AD911,Lê Thị Thùy Linh,AD943,Phạm Hòa,NaN,...,NaN,A1004,Vũ Thị Minh,ZD,NaN,2023-01-18,2023-07-27,Terminated,Female,minh.vu@phuhunglife.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,Miền Trung 3,NaN,NaN,NaN,NaN,NaN,NaN,AD795,Nguyễn Thị Phương Lan,AD998,...,Quế Sơn,AD998,Mã Thành Hiếu,RAD,NaN,2023-01-12,NaT,Enforce,Male,hieu.ma@phuhunglife.com
1377,Đại Lý Độc Lập,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,IAP,AD999,Đại Lý Độc Lập,NaN,NaN,NaT,NaT,Enforce,NaN,NaN
1378,Head office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Direct Sales,ADM00,Direct Sales,NaN,NaN,2014-01-01,NaT,Terminated,NaN,NaN
1379,Miền Bắc 2,AD507,Nguyễn Xuân Cương,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Hạ Long,ADNUL,Not Assigned,NaN,NaN,NaT,NaT,Terminated,NaN,NaN
1380,Miền Bắc 2,AD507,Nguyễn Xuân Cương,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Hà Nội,ADNUL,Not Assigned,NaN,NaN,NaT,NaT,Terminated,NaN,NaN

In [36]:
join = pd.merge(left = structure, right = data, how ='inner', left_on = 'AD Code', right_on = 'AD Code')
join

,Territories_x,Code TD,Name TD,Code TAD,Name TAD,Code SRD,Name SRD,Code RD,Name RD,Code RAD,...,202301,202302,202303,202304,202305,202306,202307,202308,Grand Total,Note Holding
0,Miền Nam 3,AD367,Hồng Khánh Hưng,NaN,NaN,NaN,NaN,AD421,Nguyễn Quý Nhân,NaN,...,NaN,NaN,346190.0,NaN,NaN,1536400.00,NaN,3000000.0,4.882590e+06,NaN
1,Miền Trung 1,NaN,NaN,NaN,NaN,AD163,Lê Thị Hân,NaN,NaN,AD214,...,NaN,NaN,NaN,49453547.9,51115816.2,17695943.52,NaN,NaN,1.182653e+08,NaN
2,Miền Nam 1,NaN,NaN,AD098,Trần Trí Quang,NaN,NaN,AD949,Lại Thị Kim Chi,NaN,...,NaN,NaN,NaN,473500.0,NaN,NaN,NaN,NaN,4.735000e+05,NaN
3,Miền Bắc 1,AD992,Nguyễn Trí Dũng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,565925.0,NaN,NaN,NaN,NaN,5.659250e+05,NaN
4,Miền Bắc 1,AD992,Nguyễn Trí Dũng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,332790.0,NaN,NaN,NaN,NaN,3.327900e+05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,Miền Nam 2,AD226,Nguyễn Đằng Giao,NaN,NaN,NaN,NaN,NaN,NaN,AD950,...,NaN,NaN,849685.0,849145.0,5677140.0,2222540.80,NaN,NaN,9.598511e+06,NaN
409,Miền Nam 2,AD226,Nguyễn Đằng Giao,NaN,NaN,NaN,NaN,AD488,Võ Duy Phương,AD492,...,NaN,NaN,404275.0,NaN,NaN,NaN,NaN,NaN,4.042750e+05,NaN
410,Miền Trung 3,NaN,NaN,NaN,NaN,NaN,NaN,AD795,Nguyễn Thị Phương Lan,AD998,...,NaN,NaN,91591.0,NaN,NaN,269176.40,NaN,NaN,3.607674e+05,NaN
411,Miền Trung 3,NaN,NaN,NaN,NaN,NaN,NaN,AD795,Nguyễn Thị Phương Lan,AD998,...,NaN,NaN,91591.0,NaN,NaN,269176.40,NaN,NaN,3.607674e+05,NaN
412,Miền Trung 3,NaN,NaN,NaN,NaN,NaN,NaN,AD795,Nguyễn Thị Phương Lan,AD998,...,NaN,NaN,91591.0,NaN,NaN,269176.40,NaN,NaN,3.607674e+05,NaN

In [30]:
territory = data['Territories'].drop_duplicates()
lst_territory = []
for item in territory:
    lst_territory.append(item)
final_territory = lst_territory[:12]

In [19]:
#South 3
south_3 = join[join['Territories_y'] == 'South 3']
with pd.ExcelWriter('Result.xlsx', mode='a') as writer:  
    south_3.to_excel(writer, sheet_name='South 3')

In [39]:
columns = []
for column in join.columns:
    columns.append(column)
print(columns)

['Territories_x', 'Code TD', 'Name TD', 'Code TAD', 'Name TAD', 'Code SRD', 'Name SRD', 'Code RD', 'Name RD', 'Code RAD', 'Name RAD', 'Code SZD', 'Name SZD', 'Code Office', 'Sales Office', 'AD Code', 'AD Name_x', 'Grade', 'NOTE', 'Date Appointed', 'Date Terminated', 'Status', 'Gender', 'Email', 'Territories_y', 'AD Name_y', ' AD Grade', ' AD Status', 'Terdate', 'Date_Appointed', 202208, 202209, 202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 'Grand Total', 'Note Holding']

In [52]:
final_columns = ['Territories_x', 'Code TD', 'Name TD', 'Code TAD', 'Name TAD', 'Code SRD', 'Name SRD', 'Code RD', 'Name RD', 'Code RAD', 'Name RAD', 'Code SZD', 'Name SZD', 'AD Code', 'AD Name_x', 'Grade', 'Date Appointed', 'Date Terminated', 'Status', 'Terdate', 'Date_Appointed', 202208, 202209, 202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 'Grand Total', 'Note Holding']
for territory in final_territory:
    mien = join[join['Territories_y'] == territory]
    check_mien = mien[final_columns].drop_duplicates()
    with pd.ExcelWriter('Result1.xlsx', mode='a') as writer:  
        check_mien.to_excel(writer, sheet_name=territory, index = False)

In [51]:
for territory in final_territory:
    mien = join[join['Territories_y'] == territory]
    check_mien = mien[final_columns].drop_duplicates()
check_mien

,Territories_x,Code TD,Name TD,Code TAD,Name TAD,Code SRD,Name SRD,Code RD,Name RD,Code RAD,...,202301,202302,202303,202304,202305,202306,202307,202308,Grand Total,Note Holding
196,Miền Nam 6,AD324,Hà Văn Đức,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9000000.0,9000000.0,NaN
220,Miền Nam 6,AD324,Hà Văn Đức,NaN,NaN,AD326,Trần Thanh Trúc,AD327,Hồ Thị Toàn,AD328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000000.0,3000000.0,NaN
315,Miền Nam 6,AD324,Hà Văn Đức,NaN,NaN,AD326,Trần Thanh Trúc,AD793,Nguyễn Tấn Thuận,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9729531.0,9729531.0,NaN
328,Miền Nam 6,AD324,Hà Văn Đức,NaN,NaN,AD326,Trần Thanh Trúc,AD412,Lâm Nghĩa Tính,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4069680.0,NaN,4069680.0,NaN